[submodule ".config/alacritty/themes/catppuccin"]
	path = .config/alacritty/themes/catppuccin
	url = ../../catppuccin/alacritty.git
[submodule ".config/sway/themes/catppuccin"]
	path = .config/sway/themes/catppuccin
	url = ../../catppuccin/i3.git
[submodule ".config/zathura/themes/catppuccin"]
	path = .config/zathura/themes/catppuccin
	url = ../../catppuccin/zathura.git
[submodule ".config/k9s/themes/catppuccin"]
	path = .config/k9s/themes/catppuccin
	url = ../../catppuccin/k9s.git
